<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Coingecko - Coin Data</title>

    <link rel="stylesheet" th:href="@{/css/externaldata.css}" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script th:src="@{/js/reload-coinpage.js}"></script>
  </head>

  <body>
    <h1>Coin Data from External API</h1>

    <div class="form-group">
      <label for="coinFilter">Filter by ID:</label>
      <input
        type="text"
        class="form-control"
        id="coinFilter"
        placeholder="Enter Coin ID"
      />
    </div>
    <div class="action-container">
      <button id="refreshButton" onclick="reloadCoins()">Refresh</button>
      <div id="status">Click the button to refresh coins</div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Coin ID</th>
          <th>Current Price (USD)</th>
          <th>Total Volume</th>
        </tr>
        <tr></tr>
      </thead>
      <tbody id="coinBody">
        <!-- <tr th:each="coinData : ${coinDataList}" class="coinRow">
          <td>
            <img th:src="${coinData.image}" alt="Coin Image" height="30" />
          </td>
          <td th:text="${coinData.id}"></td>
          <td th:text="${coinData.currentPrice}"></td>
          <td th:text="${coinData.formattedTotalVolume}"></td>
        </tr> -->
      </tbody>
    </table>
  </body>
</html>
